@model IndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="stylesheet" href="~/css/index/wrapper.css" />
  <link rel="stylesheet" href="~/css/index/content.css" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>

  <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="~/js/index/ajax.js"></script>
</head>

<body class="wrapper">
  <header class="header" style="align-self: center;">
    <nav class="nav">
      <a class="nav-link fs-5" asp-controller="Home" asp-action="Index">Home</a>
      <a class="nav-link fs-5" asp-controller="Home" asp-action="Maintain" asp-route-key="admin">Maintain</a>
    </nav>
  </header>
  
  <content class="content">
    <div class="content-flex">
        <div class="drinks-grid">
          @foreach(var drink in Model.Drinks)
          {
            <div class="drink-card">
              <button class="btn btn-outline-secondary fs-5"
                      id="@drink.Id" onclick="purchaseDrink(this.id)">@drink.Name</button>
              <div class="fs-5">Cost: @drink.Cost</div>
              <div>
                <span class="fs-5">Stock: </span>
                <span class="fs-5" id="js_quantityDrink_@drink.Id">@drink.Quantity</span>
              </div>
            </div>
          }
        </div>
        <div class="sidepanel">
            <div class="sidepanel__top">
                <div>
                    <span class="fs-5 fw-bold">Balance: </span>
                    <span class="fs-5 fw-bold" id="js_balance">@Model.Balance</span>
                </div>
                <button class="btn btn-primary fs-5" onclick="withdraw()">Withdraw</button>
            </div>
            <p class="fs-5 fw-bold">Insert coin:</p>
            <div class="coins-grid">
              @foreach (var coin in Model.Coins)
              {
                    <button class="btn btn-outline-success btn-rounded fs-5" disabled="@coin.IsJammed"
                            id="@coin.Id" onclick="addCoin(this.id)">@coin.Nominal</button>
              }
            </div>
            <div class="sidepanel__bottom">
                <p class="fs-5 fw-bold">Information:</p>
                <span id="js_information">
                    Welcome!<br /> Insert coins, select a drink, withdraw money or make another choise.
                </span>
            </div>
        </div>
    </div>
  </content>

  <footer class="footer">

  </footer>
</body>

</html>
